.container-carousel {

    .carousel-h2 {
        color: $color-blue;
        text-align: center;
        margin: 20px 0;
    }

    .carousel-caption {
        position: initial;
        color: $color-gray;
        background-color: $color-blue;
    }
}

/* .carousel-inner {
    height: ;
} */