.container-about {
    background-color: $color-gray;
    color: $color-blue;
    
    .about-h2 {
        text-align: center;
        padding: 20px 0;
    }

    .about-article {
        .about-image {
            width: 100%;
            margin-bottom: 20px;
        }
    }
}