.navbar {
    background-color: $color-gray;
}

.navbar-light .navbar-brand {
    font-size: 20px;
    color: $color-blue;
}

.navbar-collapse {
    position: absolute;
    width: 100%;
    background-color: $color-gray;
    top: 59px;
    left: 0;
    z-index: 2;
}

.navbar-nav .nav-link {
    border-bottom: 1px solid gray;
    padding-left: 12px;
}

.navbar-light .navbar-nav .nav-link, .nav-link.active {
    color: $color-blue;
}

.sub-title-menu, .title-menu-complement{
    color: $color-blue;
    display: none;
}

@media (min-width: 992px) {
    .menu-desktop {
        position: inherit;
        justify-content: flex-end;
    }

    .navbar-nav .nav-link {
        border: none;
        font-size: 18px;
    }

    .sub-title-menu {
        font-size: 15px;
        position: absolute;
        display: flex;
        bottom: 2px;
        left: 52px;
    }

    .title-menu-complement {
        display: inline-block;
    }
}